<!DOCTYPE html>
<html>
  <head>
    <title><%= Setting.app_name %> - Baltimore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Setting.google_analytics_tracker.present? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Setting.google_analytics_tracker %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Setting.google_analytics_tracker %>');
      </script>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  </head>

  <body>
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <!-- <span class="d-none d-md-inline d-lg-inline d-xl-inline">Baltimore City Council</span>  -->
          <%= Setting.app_name %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/questions">
                Questions
              </a>
            </li>
            <% if Setting.voting_visible %>
            <li class="nav-item">
              <a
                 class="nav-link <%=Setting.voting_enabled ? '' : 'disabled' %>"
                 aria-disabled="<%=!Setting.voting_enabled %>"
                 href="/votes">
                Vote in Straw-Poll
              </a>
            </li>
            <li class="nav-item">
              <a
                 class="nav-link <%=Setting.results_enabled ? '' : 'disabled' %>"
                 aria-disabled="<%=!Setting.results_enabled %>"
                href="/results">
                Straw-Poll Results
              </a>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>



      <% if notice%>
        <p class="notice"><%= notice %></p>
      <% end%>
      <% if alert%>
        <p class="alert"><%= alert %></p>
      <% end%>
      
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
